<section class="flex py-36">
    <div class="w-full"></div>
    <div
        class="flex flex-col gap-3 ml-auto mr-8 bg-eerie-black p-12 text-wrap max-w-96"
    >
        <h3 class="text-2xl font-medium text-start">Disfrute de un GRAN viaje con nosotros</h3>
        <p class="text-sm">
            Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id
            aliquip voluptatibus pri. Ei mea primis ornatus disputationi.
            Menandri erroribus cu per, duo solet congue ut.
        </p>
        <div>
            <button class="btn-primary px-6 py-3">Leer más</button>
        </div>
    </div>
</section>

<style>
    section {
        background: url("https://www.ansonika.com/panagea/img/bg_call_section.jpg")
            center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .btn-primary {
        font-size: 0.875rem;
        visibility: visible;
        background: #fc5b62;
        outline: 0;
        border: none;
        display: inline-block;
        color: #fff;
        font-weight: 600;
        text-align: center;
        border-radius: 25px;
    }
</style>
