---
---

<footer>
    <div class="flex flex-wrap">
        <img src="https://www.ansonika.com/panagea/img/logo.svg" width="150" height="36" alt="Logo">
        <p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
        <div class="follow_us">
            <ul>
                <li>Follow us</li>
                <li><a href="#"><i class="ti ti-brand-facebook"></i></a></li>
                <li><a href="#"><i class="ti ti-brand-x"></i></a></li>
                <li><a href="#"><i class="ti ti-brand-instagram"></i></a></li>
                <li><a href="#"><i class="ti ti-brand-tiktok"></i></a></li>
                <li><a href="#"><i class="ti ti-brand-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
    <hr class="opacity-10 my-8 border-bright-gray">
    <div class="flex">
        <select name="language" id="select_language">
            <option value="Español"></option>
            <option value="Inglés"></option>
        </select>
        <select name="currency" id="select_currency">
            <option value="VED" aria-name="Bolívar Soberano" aria-symbol="Bs." title="Bolívar Soberano"></option>
            <option value="USD" aria-name="Dólar Estadounidense" aria-symbol="$" title="Dólar Estadounidense"></option>
        </select>
        <div>
            <img src="https://www.ansonika.com/panagea/img/cards_all.svg" alt="Visa, Mastercard, Paypal" />
        </div>
    </div>
</footer>
