<header>
    <div>
        logo
    </div>
    <nav>
        <ul>
            <li>Inicio</li>
            <li>Viajes</li>
            <li>Comida & bebida</li>
            <li>Servicios adicionales</li>
            <li>Páginas</li>
        </ul>
    </nav>
    <div>
        actions
    </div>
</header>