<section role="search">
  <div>
    <h3>Book unique experiences</h3>
    <p>Expolore top rated tours, hotels and restaurants around the world</p>
    <search>
      <form action="#">
        <div>
          <input type="radio" name="search_type" />
          <input type="radio" name="search_type" />
          <input type="radio" name="search_type" />
          <input type="radio" name="search_type" />
        </div>
        <div>
          <input type="text" autocomplete="off" placeholder="Dónde..." />
          <input type="text" autocomplete="off" placeholder="Cuándo..." />
          <input type="text" autocomplete="off" placeholder="Quién/es..." />
          <input type="submit" value="Buscar" />
        </div>
      </form>
    </search>
  </div>
  <div>
    <img src="https://www.ansonika.com/panagea/img/hero-home-3.jpg" alt="" />
  </div>
</section>
