<section>
  <div class="px-3 pt-11"></div>
  <div class="flex flex-col items-center justify-center">
    <span class="mb-6 block h-0.5 w-[120px] bg-[#e1e1e1]"
      ><em class="m-auto block h-0.5 w-[60px] bg-[#fc5b62]"></em></span
    >
    <h2 class="text-2xl text-[#333]">Our Popular Tours</h2>
    <p class="text-lg font-light text-[#555]">
      Cum doctus civibus efficiantur in imperdiet deterruisset.
    </p>
  </div>
</section>
